* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: rgb(4, 108, 193);
	--grey: rgb(244, 244, 244);
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

li {
	list-style: none;
}

.container {
	width: calc(100% - 512px);
	margin: 0 auto;
}

.text-blue {
	color: var(--primary-color);
}

.bg-blue {
	background-color: var(--primary-color);
}

.text-black {
	color: black;
}

.text-white {
	color: white;
}

.text-blue {
	color: var(--primary-color);
}

.bg-grey {
	background-color: var(--grey);
}

.bg-black {
	background-color: black;
}

.text-bold {
	font-weight: 700;
}

.text-xl {
	font-size: 32px;
}

.text-xxl {
	font-size: 80px;
}

.primary-btn {
	background-color: var(--primary-color);
	color: white;
	font-weight: bold;
	padding: 8px 16px;
	border-radius: 2px;
	border: none;
	cursor: pointer;
	margin: 0 auto;
}
.secondary-btn {
	background-color: var(--primary-color);
	color: white;
	padding: 8px 16px;
	outline: 1px solid white;
	border: none;
	border-radius: 2px;
	font-weight: bold;
	transition: all 0.3s ease;
	cursor: pointer;
}

.secondary-btn:hover {
	background-color: #fff;
	color: var(--primary-color);
}
/* Header  */

nav {
	padding: 16px 0;
	background-color: #fff;
}

nav > .container {
	display: flex;
	justify-content: space-between;
}

nav > .container > ul {
	display: flex;
	gap: 24px;
}

.blocks {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.padding-section {
	padding: 64px 0;
}

/* services */

/* .services > .container {
	display: grid;
	row-gap: 24px;
	column-gap: 8px;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(3, 1fr);
} */

/* .categories { */
/* grid-column-start: span; */
/* grid-column-end: span 3;
} */

/* .services-title {
	grid-column-start: 2;
	grid-column-end: 3;
} */

.services > .container {
	display: flex;
	gap: 24px;
}

.categories {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.categorie {
	padding: 16px;
	width: 300px;
	background-color: black;
	color: white;
}

.categorie:hover {
	background-color: var(--primary-color);
}
.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex > div {
	width: 50%;
}

.icon {
	width: 50px;
}

/* OUR TESTMONIALS */

.testmonials-container {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.testmonials-card {
	display: flex;
	gap: 8px;
	align-items: center;
}

.testmonials img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

/* FOOTER */

footer > div {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.reseaux {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.copyright {
	display: flex;
	justify-content: space-between;
}

.copyright div {
	display: flex;

	align-items: center;
}
.footer-pd {
	padding: 1rem 0;
}
